* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --sand: rgb(255, 214, 186);
    --stone: rgb(85, 91, 110);
    --sky: rgb(190, 227, 219);
}

html {
    color: var(--stone);
    background-color: var(--sand);
}

/* body {
    font-size: .9rem;
} */

header {
    background-color: var(--stone);
}

/* Hero image */
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    background-image: url("images/IMG_1752.jpg");
    background-size: cover;
    background-position: 0 100%;
    
}
/* Hero image caption */
.hero p {
    padding: 10px;
    margin: 0 50px 10px;
    background-color: var(--sky);
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

/* Main sections */
.sectionRow {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}

/* Section heading */
.sectionHeading {
    max-width: 140px;
    text-align: right;
}
h2 {
    font-size: 2.4rem;
}

/* Section content */
.sectionContent {
    background-color: var(--sand);
    border-left: solid var(--stone);
    padding-left: 20px;
    margin-left: 10px;
    display: flex;
    flex: 0 0 75%;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* Projects */
.card {
    display: flex;
    flex: 0 0 calc(50% - 5px);
    height: 100px;
    border:solid var(--sky);
    margin: 5px 0 5px;
    align-items: flex-end;
}

/* Project 1 */
.card:first-child {
    display: flex;
    flex-basis: 100%;
    height:300px;
}

/* Project imgs */
.cardImage {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 0 10%;
    transition: opacity 0.3s;
    opacity: .5;
}

.cardImage:hover {
    opacity: 1;
}

/* Project 1 img
.cardImage:first-child {
    object-position: 0 95%;
} */

/* Project title */
.cardName {
    position: absolute;
    padding: 10px;
    background-color: var(--sky);
    margin-bottom: 10px;
}
/* Title heading */
h3 {
    font-size: 1.1rem;
    font-weight: bold;
}
/* Tiny print */
h4 {
    font-size: .7rem;
    margin-top: 10px;
}

/* Contact links */
.sectionContent ul li {
    display: inline-block;
    font-size: 1.1rem;
    padding: 25px 5px 25px 5px;
    align-items: flex-end;
}

.sectionContent ul li a:link {
    text-decoration: none;
    color: var(--stone);
    border-bottom: solid var(--stone);
}

/* Mobile screens */
/* @media screen and (max-width: 768px) { */
    /* Body into column for mobile view */
    /* body {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* Padding to fill gap */
    /* header {
        padding: 0 0 10px;
        width: 100%;
    } */
    /* Padding to center heading */
    /* h1 {
        padding: 5px 0 5px;
        width: 100%;
        text-align: center;
    }
    nav {
        margin: 0;
    } */
    /* Bring it all together */
    /* .headerSpace {
        align-items: center;
        flex-direction: column;
    } */
    /* Centered cool subtitle */
    /* .hero {
        width: 100%;
        justify-content: center;
    }
    main {
        display: flex;
        align-items: center;
        max-width: 500px;
    }
    .sectionRow {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 100%;
        width:100%;
    }
    .sectionHeading {
        max-width: none;
        text-align: left;
    }
    .sectionContent {
        border-left: none;
        padding: 0;
        margin: 0;
        border-top: solid;
        padding-top: 5px;
        margin-top: 5px;
    }
    .card {
        flex-basis: 100%;
    }
    .card:first-child {
        height: 100px;
    }
    .cardImage {
        object-position: 0 10%;
    }
    .sectionContent ul {
        display: flex;
        flex-direction: column;
    }
} */