/* Hero image */
.jumbotron {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 250px;
    background-image: url("images/IMG_1752.jpg");
    background-size: cover;
    background-position: 0 100%;   
}